<p id="notice"><%= notice %></p>

<h1>Series</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ano</th>
      <th>Actores</th>
      <th>String</th>
      <th>Director</th>
      <th>Pais</th>
      <th>Genero</th>
      <th>Resumen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= series.nombre %></td>
        <td><%= series.ano %></td>
        <td><%= series.actores %></td>
        <td><%= series.string %></td>
        <td><%= series.director %></td>
        <td><%= series.pais %></td>
        <td><%= series.genero %></td>
        <td><%= series.resumen %></td>
        <td><%= link_to 'Show', series %></td>
        <td><%= link_to 'Edit', edit_series_path(series) %></td>
        <td><%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Series', new_series_path %>
