<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @series.nombre %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @series.ano %>
</p>

<p>
  <strong>Lenguaje:</strong>
  <%= @series.lenguaje %>
</p>

<p>
  <strong>Director:</strong>
  <%= @series.director %>
</p>

<p>
  <strong>Actores:</strong>
  <%= @series.actores %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @series.genero %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= @series.resumen %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
